@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Manrope:wght@500&display=swap');

* { 
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

body {
  font-family: 'Manrope', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
    word-wrap: break-word;
}

::selection {
  color: white;
  background-color: black;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

.bio {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

a:hover {
  color: blue;
}

@keyframes colorChange {
  0% { color: blue; }
  25% { color: green; }
  50% { color: red; }
  75% { color: rgb(143, 0, 172); }
  100% { color: blue; }
}

.color-change-text {
  animation: colorChange 10s ease infinite;
}
